{% extends 'base.html' %}

{% block content %}

<main>
    <h1>My Categories</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number of Receipts</th>
        </thead>
        <tbody>
            {% for account in list_account %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }}</td>
                <td>{{ account.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
